* {
	padding: 0;
	margin: 0;
}

body {
	background: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

nav {
	background: #000000;
}

img {
	display: inline-block;
  	height: auto;
 	max-width: 100%;
}

.my_blue {
	background: #1b1b4d;
}


.my_blue_color {
	color: #1b1b4d;
}

.shadow {
	box-shadow: 0 0 30px #FFFFFF;
}

.modal {
  	text-align: center;
 	background-color:rgba(0,0,0,.9);
}

.modal:before {
  	display: inline-block;
  	vertical-align: middle;
  	content: " ";
  	height: 100%;
}

.modal-dialog {
  	display: inline-block;
  	text-align: left;
  	vertical-align: middle;
  	font-family: 'Raleway', sans-serif;
}

.modal-content {
	border-radius: 20px;
	background: #E0FFFF;
}

.modal-header, .modal-body, .modal-footer, .modal-title {
	font-size: 30px;
	border:  0px;
}

.btn-thanks {
	text-align: cent;
}

.header-logo {
	text-align: center;
	font-family: 'Alfa Slab One', cursive;
	border-color: #000000;
	color: #E0FFFF;
}

.my_text {
	color: #E0FFFF;
}

.header-blocks {
	position: absolute;
  	right: 10%;
}

.main-block {
	width: 100%;
	height: auto;
	font-family: 'Alfa Slab One', cursive;
}

.main-text {
	display: block;
	margin-top: 9%;
	width: 50%;
}

.main-name {
	width: 100%;
}

.main-fields {
	margin-top: 10%;
	font-family: 'Raleway', sans-serif;
}

.display-6 {
	color: #E0FFFF;
}

.hire {
	text-align: center;
}

.btn-hire {
	width: 70%;
	height: 100%;
	margin-top: 10%;
	padding: 0.5rem 1rem;
	font-family: 'Raleway', sans-serif;
	font-size: 4vh;
	border-color: #000000;
	text-align: center;
	box-shadow: 0 0 15px #1b1b4d;
}

.main-contact {
	margin-top: 4%;
	margin-bottom: 3%;

}

.btn-contact {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 2vh;
	margin-bottom: 5%;
	border: 0;
	border-radius: 0;
	color: #000000;
	overflow: hidden;
	background-color: #E0FFFF;
	box-shadow: 0 0 10px #FFFFFF;
}

.img-telegram, .img-github, .img-gmail, .img-phone {
	width: 30px;
	height: 30px;
	margin-right: 8px;
}

.img-telegram {
	margin-right: 5px;
}

.about-block, .skills, .projects, .contact, .contact-form {
	display: block;
	width: 100%;
	height: auto;
	color: #FFFFFF;
	text-align: center;
	padding-top: 2%;
	background: #000000;
	font-family: 'Alfa Slab One', cursive;
}

.img_about {
	margin-top: 40px;
}

.about-text {
	color: #E0FFFF;
	margin-top: 40px;
	border: 2px;
	border-radius: 2px;
	border-color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 3vh;
}

.benefits {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 27px;
    font-family: 'Raleway', sans-serif;
    background: #E0FFFF;
    color: #000000;
    border-radius: 30px;
    
    box-shadow: 0 0 15px #FFFFFF;
}

.number-benefits {
	font-size: 50px;
	margin: 0;
	padding: 0;
}

.text-benefits {
	margin: 0;
	padding: 0;
}

.skills {
	margin-bottom: 100px;
}

.skill_one {
	margin-top: 40px;
	margin-bottom: 30px;
}

.skill_one_text {
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
}

.progress {
	height: 40%;
	border-radius: 30px;
	background-clip: border-box;
	box-shadow: 0 0 10px #FFFFFF;
}

.projects-cards {
	margin-top: 40px;
	margin-bottom: 40px;
}

.card {
	width: 100%;
	height: auto;
	background: #E0FFFF;
	font-family: 'Raleway', sans-serif;
	color: #000000;
	margin-bottom: 20px;
	box-shadow: 0 0 15px #FFFFFF;
}

.card-text {
	font-size: 19px;
}

.btn-card {
	width: 70%;
	margin-top: 1%;
	font-family: 'Raleway', sans-serif;
	border-color: #000000;
	text-align: center;
	color: #FFFFFF;
	box-shadow: 0 0 15px #1b1b4d;
}

.card-title {
	font-size: 20px;
}

.card-img-top {
	height: ;
}

.contact-form {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
}

.form-label {
	margin-top: 10px;
}

.form-control {
	background-color: #E0FFFF;
}

.form-control-lg {
	border-radius: 1rem;
	background-clip: border-box;
}

.btn-send {
	width: 100%;
	border-radius: 1rem;
	border-color: #000000;
	box-shadow: 0 0 15px #1b1b4d;
}

.footer-topic {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #FFFFFF;
	margin-top: 40px;
}

.social {
	text-align: center;
	color: #FFFFFF;
}

.img-footer {
	height: 50px;
	width: 50px;
	margin-bottom: 20px;
}

.footer-text-final {
	text-align: center;
}