* {
	padding: 0;
	margin: 0;
}

.my_blue {
	background: #1b1b4d;
}

.my_blue_color {
	color: #1b1b4d;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	background: #000000;
}

nav {
	background: #000000;
}

.header-logo {
	text-align: center;
	font-family: 'Alfa Slab One', cursive;
	border-color: #000000;
	color: #E0FFFF;
}

.header-blocks {
	position: absolute;
  	right: 10%;
}

.main-block {
	width: 100%;
	height: 94vh;
	font-family: 'Alfa Slab One', cursive;
}

.main-text {
	display: block;
	margin-top: 7%;
	width: 50%;
}

.main-name {
	width: 100%;
}

.main-fields {
	margin-top: 10%;
	font-family: 'Raleway', sans-serif;
}

.display-6 {
	color: #E0FFFF;
}

@media screen and (min-width: 401px) {
	.img-logo {
		min-width: 350px;
	}	
}

@media screen and (max-width: 401px) {
	.img-logo {
		min-width: 200px;
	}	
}

.hire {
	text-align: center;
}

.btn-hire {
	width: 70%;
	height: 100%;
	margin-top: 10%;
	padding: 0.5rem 1rem;
	font-family: 'Raleway', sans-serif;
	font-size: 4vh;
	border-color: #000000;
	text-align: center;
}

.main-contact {
	margin-top: 3%;
	margin-bottom: 3%;
}

.btn-contact {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 2vh;
	margin-bottom: 5%;
	border: 0;
	border-radius: 0;
	color: #E0FFFF;
	overflow: hidden;}